<html>
    <head>
        <title>Melanny's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django girls blog</a></h1>
        </div>

        <div>
            <p>published: 28.06.2025, 03:00</p>
            <h2><a href="">My first post</a></h2>
            <p>....</p>
        </div>

        <div>
            <p>published: 28.06.2025, 03:20</p>
            <h2><a href="">My second post</a></h2>
            <p>....</p>
        </div>
    </body>
</html>